{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block title %}Pagamento{% endblock title %}

{% block body %}
{% include 'parciais/_messages.html' %}
<div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <p>Para o desenvolvedor: adicione seu método de pagamento preferido.</p>
    </div>
</div>

{% include 'parciais/_pagar.html' %}

<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
    </div>
</div>

{% endblock body %}

